<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>predict.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>scale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>svm_proj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>train.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>834361981A629CD000F8DBB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>834361AD1A629D0100F8DBB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>834361BE1A629DA800F8DBB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>834361CD1A629E4C00F8DBB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
